@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <h5> Pagina Principal en mantenimiento, Proximamente disponible</h5> </p>
</div>
